/* App.css */

body {
  margin-top: 56px; /* Adjust to make room for the fixed navbar */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px; /* Footer height */
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  text-decoration: underline;
}

/* Animations */
.fade-in {
  animation: fadeIn 2s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

/* Image Hover Effect */
.img-fluid:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}